.clinical-portal-header {
  display: flex;
  justify-content: space-between;
  margin: 2rem 5rem 2rem 1.4em;
  align-items: center;
}
.clinician-details {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
p {
  margin: 5px;
}

.patients {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
  padding-top: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
}
li {
  list-style-type: none;
}
.patient-details-table {
  border-collapse: collapse;
  width: 70%;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  align-content: center;
}
.patient-details-table td,
.patient-details-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.patient-details-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.patient-details-table tr:hover {
  background-color: #ddd;
}

.patient-details-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0d224f;
  color: white;
}
.patients {
  background: white;
  color: black;
  text-align: center;
}
.selected {
  background: rgb(212, 212, 212);
  padding: 28px;
  width: 50%; 
}
.not-selected {
  background: white;
  padding: 28px;
  width: 50%; 
}
.react-loading-skeleton {
   width: 96% !important;
   height: 4rem;
   margin: 0 auto;
   top: 5rem;
   left: 25px;
   right: 20px;
}
